:root{
	--mainColor:#4d4c7d;
	--secondaryColor:#605791;

	--borderColor:#453f69;

	--mainText:#fff;
	--secondaryText:#d1d1d1;

	--themeDotBorder:#FFF;

	--previewBg:#4a4a78;
	--previewShadow:#49416e;


    --buttonColor:#826ce6;

    --darkModeCircleColor: #32313b;

}